/*ブラウザがそれぞれ持っているCSSをリセットするための記述*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}

main {
  display: flex;
}

.main-content {
  display: flex;
}

footer {
  display: flex;
}