/*ブラウザがそれぞれ持っているCSSをリセットするための記述*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff00ff;
}

.header-contents {
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
}

.header-box:first-child {
  margin-right: auto;
}

.header-box {
  background-color: #ffb6c1;
  flex-basis: 140px;
  height:70px;
  margin: 0 10px;
}

main {
  display: flex;
  justify-content: center;
}

.sidebar {
  background-color: palegreen;
  width: 300px;
}

.main-contents {
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
}

.main-box {
  background-color: khaki;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  background-color: cornflowerblue;
  width: 100%;
}

.footer-contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-box {
  background-color: lightblue;
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}
